/* FONTS --------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700|Quando);

/* GENERAL --------------------------*/

body {
    background: #ccc;
    font-family: 'Lusitana', serif;
}

img {
    display: block;
    width: 100%;
}

p {
    margin: 5% 9%;
}

nav ul {
    margin: 20px auto;
    
}
nav li, footer li {
    display: inline-block;
}


/* Classes --------------------------*/




/* IDs --------------------------*/

#title {
    font-family: 'Quando', serif;
    color: #333;
    text-align: center;
    margin: 60px 0;
}

#wrapper {
    
    background: #fff;
    width: 90%;
    margin: auto;
}

#wrapper h1 {
    margin-left: 5%;
    color: pink;
}

