/* FONTS --------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700|Quando);

/* GENERAL --------------------------*/

body {
    background: #bbc;
    font-family: 'Lusitana', serif;
}

img {
    display: block;
    width: 100%;
}

p {
    margin: 5% 9%;
}

nav ul {
    margin: auto;
    text-align: center;
    padding: 0;
}
nav li, footer li {
    font-size: 0.9em;
    display: inline-block;
    margin: 20px 2px;
}

nav a, footer a {
    color: rgba(100, 100, 100, 0.8);
    text-decoration: none;
}

nav a:hover, footer a:hover {
    color: rgba(100, 100, 100, 1);
    text-decoration: none;
    border-bottom: 1px solid rgba(100, 100, 100, 1);
}

/* Classes --------------------------*/




/* IDs --------------------------*/

#title {
    font-family: 'Quando', serif;
    color: #333;
    text-align: center;
    margin: 60px 0 70px;
}

#wrapper {
    
    background: #fff;
    width: 90%;
    margin: auto;
}

#wrapper h1 {
    margin-left: 5%;
    color: pink;
}

