@media (min-width: 600px) {
    nav li {
        font-size: 1.2em;
        margin: 30px 5px;
    }
    
    #title {
        font-size: 2.2em;
    }
    
}

@media (min-width: 960px) {

    #title {
        font-size: 2.5em;
    }
    
    #wrapper {
        width: 900px;
    }
}